<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewNorma()">Создать Норму</button>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Машина</mat-label>
      <mat-select
        (selectionChange)="onMachineChanged($event)">
        <mat-option *ngFor="let machine of machineList" [value]="machine">
          {{machine}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-norm-item
      *ngFor="let normEl of norms; let i = index"
      [norma]="normEl"
      [machine]="selectedMachine"
      [index]="i"
      ></app-norm-item>
  </div>
</div>
