<div class="row">
  <div class="col-xs-12">
<!--    {{(selectedSmena$ | async).workersTime}}-->
<!--    <div *ngFor="let worker of selectedWorkers">-->
<!--      <div>-->
<!--        {{worker.surname}}-->
<!--      </div>-->
<!--    </div>-->
    <h4>Дата: {{ (selectedSmena$ | async).dateSmen }}</h4>
    <p>Номер смены: {{ (selectedSmena$ | async).numSmen }}   Машина: {{ (selectedSmena$ | async).mashine}}</p>
    <p>Работники:</p>
    <p *ngFor="let wrk of selectedWorkers; let i = index">
      {{ wrk.surname }} {{ wrk.name }} {{ wrk.patronymic }} {{wrk.tabelNum}}
      <br>
      Сдельно: {{ (selectedSmena$ | async).workersTime[i].sdelTime }}
      <br>
      Ночное время: {{ (selectedSmena$ | async).workersTime[i].nightTime }}
      <br>
      Простой 2/3 среднего: {{ (selectedSmena$ | async).workersTime[i].prostTime }}
      <br>
      Работа по приказу: {{ (selectedSmena$ | async).workersTime[i].prikTime }}
      <br>
      Работа по среднему: {{ (selectedSmena$ | async).workersTime[i].srednTime }}
    </p>
  </div>
  <button
    (click)="onEditSmena()"
    class="btn btn-success">Редактировать смену</button>
  <button
    class="btn btn-danger"
    (click)="onDeleteSmena()">Удалить смену</button>
</div>
