<ng-template appPlaceHolder></ng-template>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="smenForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="dateSmen">Дата</label>
            <input
              type="text"
              id="dateSmen"
              formControlName="dateSmen"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="mashine">Машина</label>
            <input
              type="text"
              id="mashine"
              formControlName="mashine"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="numSmen">Номер смены</label>
            <input
              type="text"
              id="numSmen"
              formControlName="numSmen"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="workersTime">
          <div class="row"
            *ngFor="let wrk of getControls(); let i = index"
            [formGroupName]="i"
            style="margin-top: 10px">
            <div class="row">
              <label>Табельный номер</label>
              <div class="col-xs-4 col-md-2">
                <input
                  class="form-control"
                  formControlName="tbNum"
                  type="number">
                <span *ngIf="!wrk.get('tbNum').valid && wrk.get('tbNum').touched"
                      class="help-block">
                  <span *ngIf="wrk.get('tbNum').errors['required']">Это поле обязательно к заполнению!</span>
                  <span *ngIf="wrk.get('tbNum').errors['pattern']">Табельный номер состоит из четырех цифр</span>
                </span>
              </div>
            </div>
            <div class="row">
              <label>Разряд</label>
              <div class="col-xs-4 col-md-2">
                <input
                  class="form-control"
                  formControlName="grade"
                  type="number"
                  pattern="^[1-6]+$"
                >
              </div>
            </div>
            <div class="row">
              <label>Сдельно</label>
              <div class="col-xs-4 col-md-2">
                <input
                  class="form-control"
                  formControlName="sdelTime"
                  type="number">
              </div>
            </div>
            <div class="row">
              <label>Ночное время</label>
              <div class="col-xs-4 col-md-2">
                <input
                  class="form-control"
                  formControlName="nightTime"
                  type="number">
              </div>
            </div>
            <div class="row">
              <label>Простой</label>
              <div class="col-xs-4 col-md-2">
                <input
                  class="form-control"
                  formControlName="prostTime"
                  type="number">
              </div>
            </div>
            <div class="row">
              <label>По приказу</label>
              <div class="col-xs-4 col-md-2">
                <input
                  class="form-control"
                  formControlName="prikTime"
                  type="number">
              </div>
            </div>
            <div class="row">
              <label>По среднему</label>
              <div class="col-xs-4 col-md-2">
                <input
                  class="form-control"
                  formControlName="srednTime"
                  type="number">
              </div>
            </div>
            <div class="col-xs-4 col-md-2">
              <button
                class="btn btn-danger"
                (click)="onDeleteWorkTime(i)"
                type="button">Удалить</button>
            </div>
          </div>
          <button
            class="btn btn-success"
            type="button"
            (click)="onAddWorkerTime()">Добавить рабочего</button>
          <hr>
          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="!smenForm.valid"
            type="submit"
            class="btn btn-success">Сохранить</button>
          <button
            (click)="onCancel()"
            type="button"
            class="btn btn-danger">Отмена</button>
        </div>
      </div>
    </form>
  </div>
</div>
